::selection{
    color: coral;
    background: #1a1a1a;
}
:root{
    scroll-behavior: smooth !important;
}
body{
    margin: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #1a1a1a;
    color: whitesmoke;
    }

nav .navbar-brand{
    font-weight: bold;
}

nav .navbar-brand:hover{
    color: #1ebba3;
}
nav .nav-item .nav-link{
        color: #1ebba3 !important;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.2rem;
        
        padding: 10px 0px;
        
    }

    nav .nav-item .nav-link:hover{
        color: coral !important;
    }
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link:hover{
        color: #1ebba3;
    }
  .skill-item  h3{
        font-size: 12px;
        padding: 6px;
    }

.btn{
    border-radius: 2rem;
    font-size: 10px;
    background: black;
    color: #fff;
    text-transform: capitalize;
}
.btn:hover{
    color: #1a1a1a;
    background:#1ebba3 ;
}
.btn a{
    border-radius: 2rem;
    font-size: 10px;
    background: black;
    color: bisque;
    text-transform: capitalize;
}
.btn a:hover{
    color: #1a1a1a;
    background:#1ebba3;
}
.card{
    background: rgb(46, 35, 35);
    border: solid 1px #1ebba3;
   
}
.card-body a{
    color: whitesmoke;
    font-size: 12px;
    text-transform: lowercase;
    word-spacing: normal;
}
.card-body i{
    color: #1ebba3;
    font-weight: bold;
}
.card-body a:hover{
    background-color: #1a1a1a;
    color: #1ebba3;
}
.card-body h6{
    
    color: #1ebba3;
    text-transform: uppercase;
    font-weight: bold;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
}
#contact{
    
  font-family: Helvetica;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 700px;
  /* background: #3a6186; fallback for old browsers */
  /* background: -webkit-linear-gradient(to left, #3a6186 , #89253e); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to left, #3a6186 , #89253e); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 25px;
}
/* .contact-section .col-md-6{
  width: 75%;
} */

/* .form-line{
  border-right: 1px solid #B29999;
} */

.form-group{
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
  align-items: center;
    height: 30px;
}

.submit {
  background: #31e49f;
  text-decoration: none;
  color: #f1f1f1;
  float: right;
  border: solid 0.1rem #080808;
  border-radius: 5px;
  margin: 1rem;
}

.submit:hover{
  color: bisque;
}
